@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body{
    background-color: white;
}
html,body{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: rgb(211, 211, 211);
  
}
header .pfp{
    height: 176px;
    width: 600px;
    background-image: url('./../img/name-tape-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px auto;
}


h1{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 80px;
    font-style: normal;
    text-align: justify;
    margin: 20px auto;
}

h2{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-style: normal;
    margin: 10px auto;
    line-height: 0px;
}

p{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 17px;
    font-style: normal;
    margin: 15px auto;
}

main{
    width: 800px;
    margin: 0 auto;
}