@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body{
    background-color: #002fa7;
}
html,body{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: grey;
  
}
header .pfp{
    height: 176px;
    width: 600px;
    background-image: url('./../img/name-tape-logo.png');
    background-repeat: no-repeat;
}
header h1{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
}