@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body{
    background-color: white;
}
html,body{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: rgb(211, 211, 211);
  
}
header .pfp{
    height: 176px;
    max-width: 100%;
    background-image: url('./../img/name-tape-logo.png');
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0px auto;
    padding-top: 5px;
}


h1{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 40px;
    font-style: normal;
    text-align: justify;
    margin: 20px auto;
}

h2{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 27px;
    font-style: normal;
    margin: 10px auto;
    line-height: 30px;
}

p{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 17px;
    font-style: normal;
    margin: 15px auto;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img{
    max-width: 100%;
}

footer{
    background-color: rgb(211, 211, 211);
    text-align: center;
    padding: 40px;
   
}

footer .content{
    max-width: 800px;
    margin: 0px auto;   
}

@media (max-width:600px){
    h2{
        font-size: 18px;
    }
}